#cardHeader {
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2); 
    width: 300px;
  }
  
  #contenedorCard {
    border-radius: 20;
    margin: 16;
    width: 400;
    min-height: 170;
    max-height: 170;
  }
  